queues:
    host: localhost
    port: 5672
    user: admin
    password: admin
    names:
        resizer: resize
        storage: upload
        success: done
        failure: failed

resizer:
    side: 640
    bg-color: '#ffffff' # what colour to use for background if image is not fit new ratio
    delete-origin: true

storage:
    type: dropbox # Dropbox storage
    credentials:
        key: ~
        secret: ~
        access-token: ~
    ### or
    #type: g-drive  # Google Drive storage
    #credentials:
    #    config-file: ~  # file with credentials in JSON for service account (not for web client!)
    ### or
    #type: amazon-s3  # Amazon S3 storage
    #parameters:
    #    region: ~
    #    bucket-name: ~ # by default: `default-bucket`
    #credentials:
    #    key: ~
    #    sercret: ~
