queues:
    host: localhost
    port: 5672
    user: admin
    password: admin
    names:
        resizer: resize
        storage: upload
        success: done
        failure: failed

resizer:
    side: 640
    bg-color: '#ffffff' # what colour to use for background if image is not fit new ratio
    delete-origin: true

storage:
    type: g-drive  # can be: amazon-s3 for Amazon S3 storage, dropbox for Dropbox, g-drive for Google Drive
    credentials:
        config-file: ~  # file with credentials in JSON for service account (not for web client!)
    ### or
    #type: amazon-s3  # can be: amazon-s3 for Amazon S3 storage, dropbox for Dropbox, g-drive for Google Drive
    #parameters:
    #    region: ~
    #    bucket-name: ~ # by default: `default-bucket`
    #credentials:
    #    key: ~
    #    sercret: ~
    ### or
    #type: dropbox  # can be: amazon-s3 for Amazon S3 storage, dropbox for Dropbox, g-drive for Google Drive
    #credentials:
    #    key: ~
    #    sercret: ~
